.slider {
  background: #cccccc;
  width: 360px;
  height: 20px;
  border-radius: 5px;
}

.picker {
  width: 7px;
  height: 29px;
  background: goldenrod;
  top: -4.3px;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
}

/* Beach */
.beach {
  position: absolute;
  z-index: 10;
  top: 0px;
  left: 10px;
}